main {
	display: grid;
	grid-template-columns: 630px 1fr;
	padding-left: 45px;
	padding-right: 45px;
}
header {
	margin: 16px 0 24px 0;
	font-size: 12px;
	padding: 8px 0;
	display: flex;
	text-align: center;
	column-gap: 14px;
}
.peoples-profile-container {
	color: #e6e6e6;
}
.people-profile {
	height: 66px;
	width: 66px;
	background-color: #fff;
	border-radius: 50%;
	margin-bottom: 4px;
	padding: 2px;
	background: linear-gradient(45deg, #ffee00, #e74307, #d80d2c, #d4115f, #db0798);
}
.people-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid black;
}


.right-side {
	height: 100vh;
	padding-left: 64px;
}
.suggested-container {
	margin-top: 36px;
}
.header-profile-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	column-gap: 12px;
	padding: 0 16px;
}
.my-profile, .suggested-profile {
	height: 44px;
	width: 44px;
	border-radius: 50%;
}
.suggested-profile, .video-profile {
	cursor: pointer;
	position: relative;
}
.suggested-profile:hover .suggested-profile-tooltip,
.video-profile:hover .video-profile-tooltip,
.names:hover + .video-username-tooltip	{
	opacity: 1;
	transition: all .15s 300ms;
}
.suggested-profile-tooltip, .video-profile-tooltip,
.video-username-tooltip {
	opacity: 0;
	position: absolute;
	background-color: #000;
	border-radius: 12px;
	box-shadow: 0 0 15px #737373;
	z-index: 1;
	left: -28px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	pointer-events: none;
	transition: all .15s;
}
.profile-tooltip-container {
	display: flex;
	align-items: center;
	padding: 20px 12px 0 16px;
}
.profile-tooltip {
	height: 54px;
	width: 54px;
	margin-right: 14px;
}
.profile-tooltip img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.tooltip-name {
	font-weight: 700;
	font-size: 15px;
}
.tooltip-sub-name {
	color: #737373;
	font-weight: 500;
	font-size: 13px;
}
.tooltip-pff {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	width: 360px;
	justify-content: space-around;
}

.tooltip-pff div {	
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}
.tooltip-pff div div:first-child {
	font-weight: 700;
}
.tooltip-pff div div:last-child {
	font-size: 14px;
}
.tooltip-posts, .tooltip-private-posts {
	border-top: 1px solid #272727;
	border-bottom: 1px solid #272727;
	padding: 10px 0;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.tooltip-has-posts {
	column-gap: 4px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.tooltip-post {
	background-color: #fff;
	height: 120px;
}
.tooltip-image-con {
	height: 44px;
	width: 44px;
}
.tooltip-image-con img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}
.tooltip-private-posts .tooltip-image-con img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}
.no-post, .private-post {
	font-weight: 700;
}
.no-post-text, .private-post-text {
	color: #737373;
	font-weight: 500;
}
.tooltip-follow, .tooltip-following {
	display: flex;
	padding: 0 12px 16px;
}
.tooltip-follow button {
	flex: 1;
	border-radius: 8px;
	background-color: #0095F6;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	color: white;
	fill: white;
	column-gap: 6px;
	font-weight: 600;
	cursor: pointer;
}
.tooltip-following {
	column-gap: 10px;
}
.tooltip-message-button, .tooltip-following-button {
	padding: 5px;
	flex: 1;
	border-radius: 8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	fill: white;
	column-gap: 6px;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
}
.tooltip-message-button {
	background-color: #0095F6;
}
.tooltip-following-button {
	background-color: #272727;
}

.my-profile img, .suggested-profile img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.header-profile-container div:nth-child(2) {
	flex: 1;
}
.my-name, .suggested-name {
	font-weight: 500;
}
.my-email, .suggested {
	color: #A8A8A8;
}
.switch-button, .follow-button {
	background-color: transparent;
	border: none;
	color: #0095F6;
	font-size: 12px;
	cursor: pointer;
	transition: color .15s ease;
}
.switch-button:hover, .follow-button:hover {
	color: #fff;
}

.suggestions {
	padding: 0 16px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.suggested-title {
	display: flex;
	justify-content: space-between;
}
.suggested-title div:first-child {
	font-size: 14px;
	font-weight: 500;
	color: #A8A8A8;
}
.seeall-button {
	background-color: transparent;
	border: none;
	color: #F5F5F5;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	transition: 300ms ease;
}
.seeall-button:hover {
	color: #737373;
}

.suggested-profile-container {
	display: flex;
	align-items: center;
	font-size: 14px;
	column-gap: 12px;
}
.suggested-profile-container div:nth-child(2) {
	flex: 1;
}
.suggested {
	font-size: 12px;
}

.footer {
	margin-top: 41px;
	padding: 0 16px;
	font-size: 12px;
	color: #737373;
	display: flex;
	gap: 3px 9px;
	flex-wrap: wrap;
}
.footer a {
	cursor: pointer;
}
.footer a:hover {
  text-decoration: underline;
}
.credits {
	font-size: 12px;
	color: #737373;
	padding: 0 16px;
	margin-top: 21px;
}

.videos-images {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video-container {
	width: 468px;
	border-bottom: 1px solid #272727;
	padding-bottom: 16px;
	margin-bottom: 20px;
}
.video-profile {
	height: 32px;
	width: 32px;
	background-color: #fff;
	border-radius: 50%;
}
.video-profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.video-header {
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin-bottom: 10px;
	justify-content: space-between;
}
.persons-name-section {
	display: flex;
	align-items: center;
	flex: 1;
	column-gap: 6px;
	position: relative;
}
.names {
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
/* .persons-name-section div:nth-child(2), */
.time	{
	color: #A8A8A8;
	font-weight: 400;
	font-size: 14px;
}
.video-image {
	width: 468px;
	min-height: 468px;
	max-height: 585px;
	border-radius: 4px;
	display: flex;
	position: relative;
	overflow: hidden;
}
.video-image .images {
	display: flex;
	transition: transform 0.3s ease;
}
.video-image .images div {
	width: 468px;
}

.prev-button, .next-button {
	position: absolute;
	background-color: #e9e9e9;
	border: none;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	color: #737373;
	font-size: 18px;
	cursor: pointer;
	top: 45%;
}
.prev-button {
	left: 8px;
}
/* .prev-button.inactive {
	display: none;
} */
.next-button {	
	right: 8px;
}

.video-image img,.video-image video {
	object-fit: contain;
	width: 100%;
	height: 100%;
	position: relative;
}
.sound-button {
	position: absolute;
	background-color: #272727;
	border-radius: 50%;
	border: none;
	padding: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: flex;	
	align-items: center;
	justify-content: center;
	bottom: 22px;
	right: 16px;
}
.soundup-icon, .nosound-icon {
	fill: #fff;
}

.video-icons-container {
	margin: 2px 0;
	display: flex;
	transition: all .15s ease;
}
.video-icons-container div svg {
	stroke: white;
	transition: all 150ms;
}
.video-icons-container div svg:hover {
	fill: #737373;
	stroke: #737373;
}
.video-icons-container div {
	height: 40px;
	width: 40px;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.video-icons-container div:nth-child(3) {
	margin-right: auto;
}
.video-icons-container div:last-child {
	justify-content: flex-end;
}
.like-counts {
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
}
.view-all-comments {
	font-size: 14px;
	color: #A8A8A8;
}
.comment-section {
	margin-top: 8px;
	display: flex;
	align-items: center;
}
.comment-section input {
	flex: 1;
	background-color: transparent;
	border: none;
	color: #A8A8A8;
	font-weight: 500;
	height: 18px;
}
.comment-section input:focus {
	border: none;
	outline: none;
}
